
main
{
    display: grid;
    grid-template-rows: minmax(70rem, 85vh) auto;
    grid-template-columns: 100%;
}

/**************/
/*   Header   */
/**************/

header
{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: left;

    color: var(--text-light);

    background-image: linear-gradient(
        rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 0.8)
      ), url("../media/images/jpg/employee-page-image.jpg");
    background-position: 80% 50%;
    background-size: cover;
}


#job-form
{
    display: grid;

    --row-size: 2.5rem;
    grid-template:
        "name" var(--row-size)
        "email" var(--row-size)
        "phone" var(--row-size)
        "trade" var(--row-size)
        "info" var(--row-size)
        "info" var(--row-size)
        "resume" var(--row-size)
        "resume" var(--row-size)
        "resume" var(--row-size)
        "submit" var(--row-size) / 1fr;

    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

#name-field
{
    grid-area: name;
}

#email-field
{
    grid-area: email;
}

#phone-field
{
    grid-area: phone;
}


#trade-field
{
    grid-area:  trade;
}

#resume-field
{
    grid-area: resume;
}

#info-field
{
    grid-area: info;
}

#submit-button
{
    grid-area: submit;
    width: 8rem;
    margin: 0 auto;
}






/* Refactor (Move out to universal. Keep some here.)
    |
   \/ */

.q-a-row-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.q-a-border
{
    border-top: 1px solid var(--text-light);
}

.q-a-row-container i
{
    font-size: 2rem;
}

.accordian-hidden-element
{
    height: 0;
    overflow: hidden;
    margin: 0;
}

.accordian-container li
{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.accordian-trigger
{
    cursor: pointer;
}

.accordian-open .accordian-hidden-element
{
    height: auto;
}

.accordian-open .accordian-trigger i
{
    transform: rotate(180deg);
}



@media (min-width: 46em){

    

}


@media (min-width: 62em ){

    #job-form
    {
        --row-size: 2.5rem;
        grid-template:
            "name email phone" var(--row-size)
            "trade trade resume" var(--row-size)
            "info info resume" var(--row-size)
            "info info resume" var(--row-size)
            ". . submit" var(--row-size) / 1fr 1fr 1fr;
    }

}


@media (min-width: 82em){    

}