:root
{
    --primary: #2B2E76;
    --primary-transparent: #2B2E76C0;
    --secondary: #000929;

    --background-primary: #ffffff;
    --background-secondary:  #F0F0F0;
    --background-selected: #e6e6e6;

    --text-light: #ffffff;
    --text-muted: #5a5a5a;
    --text-dark: #000000;

    --clear: #00000000;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

html,
body 
{

    width: 100%;

    margin: 0px;
    padding: 0px;

    font-family: 'Roboto', Verdana, sans-serif; 
    font-size: 110%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul
{
    padding: 0;
    margin: 0;

    list-style: none;
}

li
{
    padding: 0;
    margin: 0;
}

h1
{
    font-size: 1.9rem;
    font-weight: 400;
    font-family: 'MerriweatherSans', Verdana, sans-serif; 
}

h2
{
    font-weight: 400;
    font-family: 'MerriweatherSans', Verdana, sans-serif; 
}

a
{
    color: inherit;
    text-decoration: inherit;
}

.white-link
{
    color: var(--text-light);
    text-decoration: underline;
}

.primary-link
{
    color: var(--primary);
    text-decoration: underline;
}

.display-none
{
    display: none !important;
}


.primary-button
{
    padding: 0.75rem 1.25rem;

    background-color: var(--primary);
    color: var(--text-light);

    border: none;
    border-radius: 40px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
    
    font-size: 1rem;

    transition: transform 0.25s ease-out;
}

.primary-button:hover
{
    cursor: pointer;

    transform: scale(1.2);
}

.socials-hover-container img
{
    transition: transform 0.25s ease-out;
}

.socials-hover-container img:hover
{
    cursor: pointer;

    transform: scale(1.2);
}

.grid-gutter
{
    width: 100%;

    padding-left: 1rem;
    padding-right: 1rem;
}



/*********************/
/* Mobile Navigation */
/*********************/

.nav-alc-logo
{
    width: 3rem;
    height: 3rem;

    margin-left: 1rem;
    margin-right: 0.1rem;
}

.nav-bar-scrolling
{
    background-position: top left !important;
}

.mobile-nav-icon
{
    font-size: 2rem;
    margin-right: 1rem;
}

#nav-container
{
    display: none;
}

#mobile-nav-container
{
    width: 100%;

    position: fixed;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-family: 'MerriweatherSans', Verdana, sans-serif; 

    color: var(--text-light);
    
    background: linear-gradient(to top, var(--clear) 50%, var(--secondary) 50%);
    background-size: 100% 200%;
    background-position: bottom left;

    transition: top .5s ease-out, background-position .25s ease-out;
}

#mobile-nav-container h3
{
    text-align: center;
}

#mobile-nav-menu-container
{
    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;

    padding-top: 1rem;

    transform: translateY(-100%);
    overflow: hidden;

    color: var(--primary);
    background-color: var(--background-primary);

    transition: all .5s ease-out;
}


#mobile-nav-socials-container ul
{
    display: flex;
    justify-content: flex-end;
}

#mobile-nav-socials-container li
{
    margin-right: 0.75rem;
}

#mobile-nav-u-list
{
    margin-top: 1rem;
}

#mobile-nav-u-list li
{
    border-bottom: 1px solid var(--text-muted);
}

#mobile-nav-u-list h3
{
    margin: 0;
    padding: 1rem 0;
}

#mobile-nav-u-list .selected
{
    background-color: var(--background-selected);
}



/**************/
/*   Section  */
/**************/

.section-header
{
    width: 100%;
    max-width: 100%;

    display: flex;

    margin: auto;
    margin-top: 0rem;

    text-align: center;
    
    color: var(--primary);
}

.section-header span
{
    max-width: 20em;

    text-overflow: clip;
}

.section-header:before, .section-header:after 
{
    content: '';

    flex: 1;

    margin: auto 0;

    color: var(--primary);

    border-bottom: solid 1px;
}

.section-header:before
{
    margin-right: 0.5em;
}

.section-header:after
{
    margin-left: 0.5em;
}

.section-body
{
    margin: 0 auto;
    margin-top: 3rem
}

.section-body li
{
    width: 100%;

    margin-top: 3rem;
}

.section-body h3
{
    color: var(--primary);
}

.section-body-bottom-margin
{
    margin-bottom: 5rem;
}

.section-container
{
    padding-top: 6rem;
    padding-bottom: 6rem;
}




/*******************/
/*   Section Card  */
/*******************/

.section-card-container
{
    padding-bottom: 2rem;

    margin: 3rem 0;

    background-color: var(--secondary);

    border-radius: 0.3rem;
}

.top-section-card
{
    margin-top: 0;
}

.bottom-section-card
{
    margin-bottom: 0;
}

.section-card-container img
{
    width: 100%;

    object-fit: cover;
}

.section-card-text-container
{
    padding: 0 1rem;
}


/*******************/
/*     Footer      */
/*******************/

.footer-row-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 1rem;
}


.footer-socials-container ul
{
    display: flex;
    justify-content: center;
}

.footer-socials-container li
{
    margin-right: 0.75rem;
}

.footer-socials-container p
{
    width: 16rem;

    margin: 1rem auto;

    text-align: center;
}

.footer-logo
{
    
    width: 7rem;
    height: 7rem;

    margin: 1rem;
}

.footer-location-container p
{
    margin: 0;
}

#mobile-footer-container
{
    display: block;
}

#desktop-footer-container
{
    display: none;
}

#footer-container
{
    padding-top: 3rem;

    background-color: var(--secondary);
    color: var(--text-light);
}

#footer-contact-container
{
    margin-bottom: 2rem;

    text-align: center;
    word-break: break-all;
}

#copyright-text
{
    text-align: center;
}



/*****************/
/* Media Queries */
/*****************/


/* 736px - 991px: Tablets, and small laptops*/
@media (min-width: 46em){

    .grid-gutter
    {
        width: 100%;
    
        padding-left: 3rem;
        padding-right: 3rem;
    }

    /**********************/
    /* Desktop Navigation */
    /**********************/

    #mobile-nav-container,
    #mobile-nav-menu-container
    {
        display: none;
    }

    #nav-container
    {
        width: 100%;

        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        justify-content: space-between;

        padding: 1rem;

        color: var(--text-light);

        background: linear-gradient(to top, var(--clear) 50%, var(--secondary) 50%);
        background-size: 100% 200%;
        background-position: bottom left;

        transition: background-position .25s ease-out;
    }

    #nav-contact-info-container
    {
        display: none;
    }
    
    #nav-left-u-list
    {
        width: 27.5%;

        display: flex;
        justify-content: flex-start;
    }

    #nav-middle-u-list
    {
        width: 45%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #nav-right-u-list
    {
        width: 27.5%;

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    #nav-left-u-list a
    {
        display: flex;
        justify-content: flex-start;

        align-items: center;
    }

    #nav-left-u-list h3
    {
        margin: 0;
        margin-left: 0.25rem;

        text-align: center;
    }

    #nav-alc-logo
    {
        width: 3rem;
        height: 3rem;
    }

    #nav-middle-u-list li
    {
        flex: 1;

        text-align: center;
    }

    #nav-right-u-list li
    {
        margin-right: 0.75rem;
    }

    #nav-right-u-list li:last-child
    {
        margin-right: 0rem;
    }
    


    /**************/
    /*   Section  */
    /**************/
    
    .section-header
    {
        width: 38rem;
    }

    .section-header:before
    {
        margin-right: 1em;
    }

    .section-header:after
    {
        margin-left: 1em;
    }

    .section-body
    {
        width: 34rem;
    }



    /*******************/
    /*   Section Card  */
    /*******************/

    .section-card-container
    {
        width: 34rem;
        
        margin-left: auto;
        margin-right: auto;
    }

    .section-card-container img
    {
        width: 100%;
    }

    .section-card-text-container
    {
        padding: 0 3rem;
    }



    /*******************/
    /*     Footer      */
    /*******************/

    .footer-socials-container
    {
        display: inline;
    }

    .footer-inline-wrapper
    {
        display: inline-flex;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #footer-container
    {
        padding-top: 4rem;
    }

    #mobile-footer-container
    {
        display: none;
    }

    #desktop-footer-container
    {
        display: flex;
        align-items: center;

        margin-bottom: 3rem;
    }

    #footer-left-column
    {
        flex: 1;

        padding-right: 3rem;

        text-align: right;

        border-right: 1px solid var(--text-light);
    }

    #footer-right-column
    {
        flex: 1;

        padding-left: 3rem;

        text-align: left;
    }

}


/* 992px - 1311px: Laptops*/
@media (min-width: 62em ){



    /*******************/
    /*   Navigation    */
    /*******************/

    #nav-middle-u-list li:first-child
    {
        text-align: right;
    }

    #nav-middle-u-list li:last-child
    {
        text-align: left;
    }

    #nav-middle-u-list li:not(:first-child):not(:last-child)
    {
        max-width: 12rem;

        text-align: center;
    }



    /*******************/
    /*   Section Card  */
    /*******************/

    .section-card-container 
    {
        width: 100%;

        display: flex;

        padding-bottom: 0;
    }

    .section-card-container img
    {
        width: 45%;
    }

    .right-card-container 
    {
        flex-direction: row-reverse;
    }

    .section-card-text-container
    {
        display: flex;
        
        flex-direction: column;
        justify-content: center;


    }

    .section-card-text-container p
    {
        margin: 0;
    }

}

/* 1311px - infinity: Laptops*/
@media (min-width: 82em){    


    h1
    {
        font-size: 2.5rem;
    }

    h2
    {
        font-size: 2rem;
    }

    .section-card-container 
    {
        width: 80%;
    }

    .section-card-text-container
    {
        padding: 0 7vw;
    }

    #nav-left-u-list h3 {
        margin-left: 2rem;
    }

    .section-header 
    {
        width: 60rem;
    }

    .section-body 
    {
        width: 45rem;
    }

}

