
@import url("https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css");
@import "universal.css";

main
{
    display: grid;
    grid-template-rows: minmax(75rem, 85vh) auto;
    grid-template-columns: 100%;
}

/**************/
/*   Header   */
/**************/
header
{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: left;

    color: var(--text-light);

    background-image: linear-gradient(
        rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 0.8)
      ), url("../../assests/images/jpg/employee-page-image.jpg");
    background-position: 15% 50%;
    background-size: cover;
}


/*****************/
/*  Job Form    */
/****************/
#job-form
{
    display: grid;

    --row-size: 2.5rem;
    grid-template:
        "fname lname" var(--row-size)
        "email email" var(--row-size)
        "phone phone" var(--row-size)
        "city state" var(--row-size)
        "trade trade" var(--row-size)
        "resume resume" var(--row-size)
        "resume resume" var(--row-size)
        "resume resume" var(--row-size)
        "info info" var(--row-size)
        "info info" var(--row-size)
        "submit submit" var(--row-size) / 1fr;
    grid-template-columns: 50% 50%;

    column-gap: 0.5rem;
    row-gap: 1.5rem;
}

#fname-field
{
    grid-area: fname;
}

#lname-field
{
    grid-area: lname;
}

#email-field
{
    grid-area: email;
}

#phone-field
{
    grid-area: phone;
}

#city-field
{
    grid-area: city;
}

#state-field
{
    grid-area: state;
}

#trade-field
{
    grid-area:  trade;
}

#resume-field
{
    grid-area: resume;
}

#info-field
{
    grid-area: info;
}

/*****************/
/* Media Queries */
/*****************/
/* 736px - 991px: Tablets, and small laptops*/
@media (min-width: 46em)
{
    header
    {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.9), 
            rgba(0, 0, 0, 0.9)
        ), url("../../assests/images/jpg/employee-page-image.jpg");
        background-position: center center;
        background-size: cover;
    }
}

/* 992px - 1311px: Laptops*/
@media (min-width: 62em )
{
    main
    {
        grid-template-rows: minmax(68rem, 90vh) auto;
    }

}

/* 1311px - infinity: Laptops Large Screens*/
@media (min-width: 82em)
{    
}